@font-face {
  font-family: 'dreamicons';
  src:
    url('fonts/dreamicons.ttf?3pw2cl') format('truetype'),
    url('fonts/dreamicons.woff?3pw2cl') format('woff'),
    url('fonts/dreamicons.svg?3pw2cl#dreamicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dreamicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dream-plus:before {
  content: "\e906";
}
.dream-close:before {
  content: "\e900";
}
.dream-resize:before {
  content: "\e902";
}
.dream-home:before {
  content: "\e903";
}
.dream-reload:before {
  content: "\e904";
}
.dream-deny:before {
  content: "\e90c";
}
.dream-gear:before {
  content: "\e90b";
}
.dream-check:before {
  content: "\e908";
}
.dream-information:before {
  content: "\e90a";
}
.dream-leftarrow:before {
  content: "\e901";
}
.dream-rightarrow:before {
  content: "\e905";
}
