@import url('./resources/fonts/stylesheet.css');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Aileron'
}

#viewport {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
    background-color: black
}

webview {
    width:0;
    height:0;
    background-color: #e1e1e1;
}

.active {
    width: 100%;
    height: 100%;
    background-color: white;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1F2B32;
    color: #e1e1e1;
    width: 60px;
    height: 100%;
    z-index: 99;
    -webkit-app-region: drag;
}

.tabControl {
    position: absolute;
    bottom: 0;
}

.uiButton {
    background-color: transparent;
    border: none;
    color: #e1e1e1;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    transition-duration: 0.075s;
    font-size: 18px;
    -webkit-app-region: no-drag;
}

.uiButton:hover {
    background-color: #2F414A;
    animation-fill-mode: forwards;
}

.uiButton:active {
    background-color: #e1e1e1;
    color: #1F2B32;
    animation-fill-mode: forwards;
}

webview.tempFullScreen {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
