@import url('./fonts/stylesheet.css');

@keyframes bgColorChange {
  from {
    background-color: white;
  }

  to {
    background-color: #e1e1e1;
  }
}

@keyframes bodyTransparencyChange {
  from {
    filter: opacity(0%)
  }

  to {
    filter: opacity(100%)
  }
}

@keyframes bgColorChangeOut {
  from {
    background-color: #e1e1e1;
  }

  to {
    background-color: white;
  }
}

@keyframes bodyTransparencyChangeOut {
  from {
    filter: opacity(100%)
  }

  to {
    filter: opacity(0%)
  }
}

html, body {
  font-family: 'Aileron';
  color: #1F2B32;
  background-color: #e1e1e1;
  padding: 0;
  margin: 0;
  animation-name: bgColorChange;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

body {
  padding: 80px;
  padding-top: 160px;
  filter: opacity(0%);
  background-color: transparent;
  animation-name: bodyTransparencyChange;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0.3s
}

h1 {
  margin-top: -6px;
  margin-left: -1px;
  padding: 0;
  padding-top: -10px
}

#mainText {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  height: 58px;
  padding-left: 80px;
  font-size: 20px;
  font-family: 'Aileron';
  border: 0;
  border-radius: 0 0 0 0;
  outline: none;
  background-color: white;
  color: #1F2B32;
}

#mainText::-webkit-input-placeholder {
  color: #c8c8c8;
}

.outTransition {
  animation-name: bgColorChangeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.outTransitionBody {
  animation-name: bodyTransparencyChangeOut;
  animation-delay: -0.3s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#recentSearchesTray {
  position: absolute;
  top: 100px;
  left: 80px;
}

.recentSearch {
  color: #E83151;
  cursor: pointer;
}

.recentSearch:hover {
  color: #E83151;
  text-decoration: underline;
}

.break {
  display: inline-block;
  width: 10px;
}